In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Resources/Car details v3.csv')

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [6]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

In [10]:
df.count()

name             8128
year             8128
selling_price    8128
km_driven        8128
fuel             8128
seller_type      8128
transmission     8128
owner            8128
mileage          7907
engine           7907
max_power        7913
torque           7906
seats            7907
dtype: int64

In [4]:
# TODO Standardize mileage, engine, max_power formatting
# TODO Remove text from mileage, enging, max_power
# TODO Map owner to integer count of prev owner ("First Owner" = 0, etc)
# TODO Separate torque into three columns

In [7]:
df.isnull().any()

name             False
year             False
selling_price    False
km_driven        False
fuel             False
seller_type      False
transmission     False
owner            False
mileage           True
engine            True
max_power         True
torque            True
seats             True
dtype: bool

In [9]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [13]:
cleandf = df.dropna()
cleandf.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [31]:
totalNotKmpl = 0
for record in cleandf["mileage"]:
    if "kmpl" not in record:
        print(record)
        totalNotKmpl = totalNotKmpl + 1

print("Total records not containing \'kmpl\': ", totalNotKmpl)

17.3 km/kg
33.44 km/kg
26.2 km/kg
26.6 km/kg
20.88 km/kg
30.46 km/kg
26.2 km/kg
21.94 km/kg
21.94 km/kg
21.94 km/kg
26.2 km/kg
17.3 km/kg
13.45 km/kg
17.3 km/kg
17.3 km/kg
32.52 km/kg
26.6 km/kg
13.45 km/kg
26.6 km/kg
26.2 km/kg
21.94 km/kg
26.6 km/kg
26.6 km/kg
26.2 km/kg
26.2 km/kg
11.88 km/kg
26.2 km/kg
21.94 km/kg
26.3 km/kg
23.7 km/kg
26.6 km/kg
13.45 km/kg
19.2 km/kg
26.2 km/kg
26.6 km/kg
17.8 km/kg
21.94 km/kg
10.9 km/kg
26.2 km/kg
13.45 km/kg
17.3 km/kg
19.2 km/kg
21.94 km/kg
26.6 km/kg
33.44 km/kg
26.6 km/kg
26.6 km/kg
30.46 km/kg
21.1 km/kg
19.2 km/kg
26.6 km/kg
21.94 km/kg
21.94 km/kg
26.3 km/kg
21.94 km/kg
21.94 km/kg
13.2 km/kg
21.4 km/kg
16.6 km/kg
16.0 km/kg
26.2 km/kg
13.2 km/kg
21.94 km/kg
17.3 km/kg
22.8 km/kg
19.2 km/kg
21.94 km/kg
32.26 km/kg
21.94 km/kg
13.2 km/kg
33.0 km/kg
10.9 km/kg
19.0 km/kg
26.2 km/kg
26.6 km/kg
13.45 km/kg
21.94 km/kg
13.2 km/kg
14.4 km/kg
26.6 km/kg
13.45 km/kg
26.83 km/kg
26.83 km/kg
33.44 km/kg
13.2 km/kg
21.94 km/kg
15.1 km/kg
Total records not containing 'kmpl':  87

In [37]:
cleandf = cleandf[cleandf["mileage"].str.contains("kmpl")]

In [38]:
cleandf.count()

name             7819
year             7819
selling_price    7819
km_driven        7819
fuel             7819
seller_type      7819
transmission     7819
owner            7819
mileage          7819
engine           7819
max_power        7819
torque           7819
seats            7819
dtype: int64

In [40]:
cleandf["seats"] = cleandf["seats"].astype(int)

In [42]:
cleandf.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
mileage          object
engine           object
max_power        object
torque           object
seats             int32
dtype: object

In [43]:
cleandf.isnull().any()

name             False
year             False
selling_price    False
km_driven        False
fuel             False
seller_type      False
transmission     False
owner            False
mileage          False
engine           False
max_power        False
torque           False
seats            False
dtype: bool